ADAFRUIT_USERNAME=seu_usuario
ADAFRUIT_KEY=aio_sua_chave_aqui

LOCAL_BROKER=mqtt://localhost:1883
CLOUD_BROKER=mqtts://io.adafruit.com:8883
CLOUD_BROKER_WS_HOST=io.adafruit.com
CLOUD_BROKER_WS_PORT=443

API_PORT=3000
